@import "../lib/less/normalize.less";
@import "../lib/less/base.less";

.wrap {
	width: 1250px;
}
.h1-tt {
	line-height: 80px;
	.ff;
	.fw(lighter);
	.pl(10px);
}
.d-aside {
	width: 180px;
	.mr(20px);
	.fl;
	.br(#EAEAEA);
	.bl(#EAEAEA);
}
.d-main {
	.bfc;
}
.div-main {
	.pa;
	width: 1050px;
	height: 99%;
}
.iframe {
	width: 100%;
	height: 100%;
}
.div-bread {
	.pa;
	z-index: 1;
	top: 20px;
	width: 1000px;
	.tr;

	.a-link {
		color: #1476A9;
		.ff;
		.fs(13px);
		.b(#EAEAEA);
		.p(5px 8px);
		border-radius: 3px;

		&:hover {
			color: #1E5977;
		}
	}
}
.aside-collapse {
	.ff;
}

/**
 *collapse style
 */
.grp_collpase_ul {
	line-height: 40px;
	.fs(17px);

	.li-parent {
		.pl(10px);
	}
	.li-sub {
		line-height: 35px;
		.fs(14px);
		.pl(20px);
	}
	.grp_collpase_item {
		.bb(#EAEAEA);
		.poi;
	}
	.grp_collpase_li:hover, .active {
		.li-parent {
			.color(#1476A9);
		}
	}
	.grp_collpase_li:hover, .checked {
		.li-sub {
			.color(#1B90CC);
		}
	}
}