.cdtn_grp {
  border: 1px solid #dadada;
}
.cdtn_num {
  padding: 1em;
  border-bottom: 2px dashed #A1A1A1;
}
.cdtn_abst {
  float: right;
  display: inline-block;
  width: 75%;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: lighter;
  font-size: 13px;
}
.tipbox {
  position: absolute;
  background-color: #f5f590;
  border: 1px solid #cccccc;
  white-space: nowrap;
  z-index: 1000;
  top: 100%;
  _top: 50%;
  right: 0;
  margin-left: 5px;
  font-weight: lighter;
  padding: 2px 4px;
  text-align: left;
  color: #5b84c2;
  font-size: 13px;
}
