.d-context-input {
  margin: 30px;
  position: relative;
  width: 278px;
}
.d-context-input .hide {
  display: none;
}
.d-context-input .d-c-i {
  line-height: 30px;
  font-size: 0;
  white-space: nowrap;
  overflow: hidden;
}
.d-context-input .ipt-c-i {
  border: 1px solid #3385ff;
  outline: none;
  width: 200px;
  height: 30px;
  *height: 28px;
  font-size: 16px;
  vertical-align: top;
  padding-left: 5px;
  line-height: 30px;
}
.d-context-input .s-c-t {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-left: none;
  cursor: pointer;
  background-color: #3385ff;
  color: #ffffff;
  vertical-align: top;
  *margin-left: -2px;
  *margin-bottom: -2px;
}
.d-context-input .ul-c-i {
  position: absolute;
  width: 200px;
  line-height: 25px;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 3px #ededed;
  padding-bottom: 2px;
}
.d-context-input .li-c-i {
  padding-left: 5px;
}
.d-context-input .li-c-i:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
