/**
 *time axis  IE7+
 */
.time-axis {
  padding-top: 20px;
  width: 200px;
  font-family: 'Microsoft Yahei';
  font-size: 14px;
  position: relative;
  color: #aeaeae;
}
.time-axis .tl-year {
  padding-top: 0px;
}
.time-axis .time {
  width: 60%;
  text-align: right;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-weight: bold;
  cursor: pointer;
}
.time-axis .icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 38px;
  height: 38px;
  vertical-align: -15px;
  cursor: pointer;
  zoom: 1;
}
.time-axis .icon:hover + .toast {
  opacity: 1;
  filter: alpha(opacity=100);
}
.time-axis .toast {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  left: 90%;
  width: 400px;
  border: 1px solid #003385;
  height: 80px;
  border-radius: 6px;
  top: -2px;
  z-index: 999;
}
.time-axis .toast:before {
  content: "";
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: dashed solid dashed dotted;
  border-color: transparent #003385 transparent transparent;
  font-family: 'Microsoft Yahei';
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: absolute;
  top: 10px;
  left: -20px;
  border-width: 10px;
}
.time-axis .tl-year {
  margin-bottom: 20px;
}
.time-axis .tl-year .time {
  font-size: 18px;
  color: #000000;
}
.time-axis .tl-year .icon {
  height: 38px;
  vertical-align: -12px;
  background-image: url("../images/y-clocks.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.time-axis .tl-month .triangle-down {
  vertical-align: -3px;
}
.time-axis .tl-month .time {
  font-size: 16px;
  color: #000000;
  font-weight: lighter;
}
.time-axis .tl-month .icon {
  background-image: url("../images/m-clocks.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.time-axis .tl-day .icon {
  background-image: url("../images/points.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  *margin-left: -5px;
}
.time-axis .time-line {
  position: absolute;
  height: 100%;
  top: 0;
  left: 142px;
  border-left: 1px solid #354751;
  z-index: -1;
  *margin-left: -4px;
}
.time-axis .triangle-down {
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid dashed dotted dashed;
  border-color: #cccccc transparent transparent transparent;
  vertical-align: middle;
  *display: inline;
  *zoom: 1;
  display: inline-block;
}
.time-axis .rote180 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
.time-axis .tli {
  position: relative;
  zoom: 1;
}
* + html .time-axis .triangle-left {
  position: absolute;
  top: 10px;
  width: 11px;
  height: 21px;
  left: -10px;
  background-image: url("../images/icon/trangle.gif");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #ff0000;
}
