@import (reference) "../../../lib/less/base.less";

.popup-main {
	.hide;
	.pa;
	z-index: 9;
	min-width: 600px;
	min-height: 300px;
	top: 100px;
	left: 50%;
	.ml(-300px);
	.bgcolor(#fff);

	.hide {
		.hide;
	}
}

/**
 * 蒙版
 */
.mask {
	.hide;
	.pa;
	width: 100%;
	height: 100%;
	.bgcolor(#000);
	top: 0;
	left: 0;
	.opacity(0.3);
	z-index: 8;
}