/**
 *collapse style
 */
.grp_collpase_ul {
  line-height: 40px;
  font-size: 18px;
}
.grp_collpase_ul .li-parent {
  padding-left: 5px;
}
.grp_collpase_ul .li-sub {
  line-height: 35px;
  font-size: 15px;
  padding-left: 20px;
}
.grp_collpase_ul .grp_collpase_item {
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
}
.grp_collpase_ul .grp_collpase_li:hover .li-parent,
.grp_collpase_ul .active .li-parent {
  color: #1476a9;
}
.grp_collpase_ul .grp_collpase_li:hover .li-sub,
.grp_collpase_ul .checked .li-sub {
  color: #1b90cc;
}
